<div id="header">
    <div class="center">
        <h1>LOGO</h1>
        <ul>
            <li><a href="/">GNB메뉴1</a></li>
            <li><a href="/sub">GNB메뉴2</a></li>
            <li><a href="/first/intro">GNB메뉴3</a></li>
        </ul>
    </div>
</div>